@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, Poppins; */
  font-family: 'Poppins', sans-serif;
  height: 100% !important;
}
.fullHeight, 
#__next  {
  height: 100% !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px light; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {

  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

  /* html {
    color-scheme: dark;
  } */
  body {
    /* color: white;
    background: black; */
  }
}

.bg-blue-100 {
  background-color: rgb(219 234 254);
}

.bg-blue-500 {
  background-color: rgb(59 130 246);
}

.toggle-arrow {
  right: -17px;
  background-color: #96dcff;
  border-radius: 50%;
  z-index: 99;
}

.header2 {
  font-size: 30px;
  font-weight: 600;
}

.heading3 {
  font-size: 24px;
  font-weight: 600;
}

.header-comp {
  background-color: #f2f4f5;
  box-shadow: rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
}

.connectordetails {
  position: absolute;
  top: 4.75rem;
  right: 0;
  bottom: 0;
  left: 55%;
  z-index: 100;
  width: 45%;
  height: calc(100% - 4.75rem);
  background-color: white;
  padding: 2rem;
  transition: .3s all ease;
  /* align-items: center;
  justify-content: center; */
  box-shadow: rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pk-uploadFile {
  background-color: #e4f7ff;
  font-size: 13px;
  border-radius: 25px;
  padding: 7px 25px;
  width: fit-content;
}

.pk_pointer {
  cursor: pointer;
}

.pk_text_primary {
  color: #1a8ef1;
}

.pk_block_menu {
  background-color: white;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 10px;
  height: 150px;
  cursor: pointer;
}

.pk-input input {
  padding: 0.5rem 0.8rem;
  background-color: white;
}

/* .MuiCheckbox-root {
  padding: 0 16px;
} */

.pk-input label,
.pk-dropdown label {
  font-size: 14px;
  top: -6px;

}

.pk-input .MuiInputBase-root {
  /* font-size: 14px; */
  background-color: white;
}

.pk-input label.MuiInputLabel-shrink {
  top: 3px;
}

.pk-input legend span {
  padding: 0;
}

.pk-dropdown .MuiSelect-select {
  padding: 0.5rem 0.8rem;
  background-color: white;
}

.pk-dropdown label.MuiInputLabel-shrink {
  font-size: 14px;
  top: 2px;
}

.pk-dropdown .MuiChip-root {
  height: 23px;
}

.pk_file_upload_block {
  padding: 15px 0px;
  border: 1px dashed #aba9a9;
  border-radius: 5px;
  cursor: pointer;
}



/* Step Progress Style */

#steps {
  width: 100%;
  text-align: center;
}

.step {
  width: 40px;
  height: 40px;
  background-color: #cecece;
  display: inline-block;

  border-radius: 50%;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 35px;
}

.step:first-child {
  line-height: 40px;
}

.step:nth-child(n + 2) {
  margin: 0 0 0 72px;
  transform: translate(0, -4px);
}

.step:nth-child(n + 2):before {
  width: 60px;
  height: 3px;
  display: block;
  background-color: #cecece;
  transform: translate(-66px, 20px);
  content: "";
}

.step:after {
  width: 150px;
  display: block;
  transform: translate(-55px, 3px);
  color: #818698;
  content: attr(data-desc);
  font-weight: 400;
  font-size: 13px;
}

.step:first-child:after {
  transform: translate(-55px, -1px);
}

.step.active {
  background-color: #37bdf2;
}

.step.active:before {
  background: #37bdf2;
}

.step.active:after {
  color: #313131;
}

.step.done {
  background-color: #58bb58;
  border-color: #58bb58;
  color: white;
}

.step.done:before {
  background-color: #58bb58;
}

.MuiButton-containedPrimary {
  background-color: #1976d2;

}

.MuiBox-root {
  padding: 0!important;
}


.media-dropzone {
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.media-dropzone.dragging {
  border-color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

.font-italic-bold{
  font-style: italic;
  font-weight: bold;
}

.font-bold-medium {
  font-weight: bold;
  font-size: medium;
}
@media (max-width: 768px) {
  .mobile-view {
    display: none;
  }

  .mobile-view-sidebar {
    display: none !important;
    width: 5rem !important;
  }

  .mobile-view-sidebar-toggle {
    display: none !important;
  }
 }